body{
    background-image: url('FBf3_NyXoAEkxHd.jfif');
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
    height: 300px;
    display: -webkit-flex;
    display:         flex;
    -webkit-align-items: center;
        align-items: center;
    -webkit-justify-content: center;
        justify-content: center;
    
}

div{
        height: 300px;
}

.divClass h1{
    color: firebrick;
}

#thirdDiv ul li img{
    width: 400px;
}

#thirdDiv{
    height: 600px;
    width: 500px;
    background-color: burlywood;
    padding: 50px;
    border: 2px black solid;
}

#spanId{
    font-size: 18px;
    margin: 50px;

}

